<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificando</title>
</head>

<body>
    <form action="/Noticia/noticiamodificada" method="post">
        <input th:value="${noticiaID.id}" hidden type="number" name="id" >
        <div class="mb-3">
            <label for="Titulo" class="form-label">Ingrese el titulo de la noticia</label>
            <input type="text" name="titulo" class="form-control" id="Titulo">
        </div>

        <div class="mb-3">
            <label for="Cuerpo" class="form-label">Coloque el cuerpo de la noticia</label>
            <input type="text" name="cuerpo" class="form-control" id="Cuerpo">
        </div>

        <button type="submit" class="btn btn-primary">Cargar</button>

    </form>

    <div th:if="${Exito!=null}" class=" alert alert-success" role="alert">
        <p th:text="${Exito}"></p>
    </div>

    <div th:if="${Error!=null}" class=" alert alert-danger" role="alert">
        <p th:text="${Error}"></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>